@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
box-sizing: border-box;
  padding: 0;


    /* background: linear-gradient(to bottom, rgb(57, 4, 106), rgba(214, 10, 10, 0.445)); */
  
}

/* body{
  background-color: rgba(15, 7, 7, 0.38);
  background: linear-gradient(rgba(21, 170, 21, 0),rgba(26, 132, 67, 0.762),url("/bg.png"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */